<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Motors</title>

    <!--Imporatações-->
    <script src="../javascript/script.js" defer></script>
    <link rel="stylesheet" href="../css/styleAjuda.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">

</head>
<body>
    <section class="cor_fundo">
        <div class="content-section texto-banner">
            <p id="titulo-banner">Central de Ajuda</p>
            <p id="subtitulo-banner">Como podemos te ajudar hoje?</p>
        </div>
    </section>

    <section class="cor_fundo2">
        <div class="content-section contatos">
            <p id="alinhar-titulo">Fale conosco</p>

            <div class="informacoes-contatos">
                <div class="contato-telefone">
                    <span class="icone-telefone">T</span>
                    <div class="informacoes-telefone">
                        <p>Telefone</p>
                        <p>(11) 4002-8922</p>
                        <p>Seg a Sex, das 9h às 18h</p>
                    </div>
                </div>

                <div class="contato-email">
                    <span class="icone-telefone">T</span>
                    <div class="informacoes-telefone">
                        <p>Telefone</p>
                        <p>(11) 4002-8922</p>
                        <p>Seg a Sex, das 9h às 18h</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
</html>