<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Motors</title>

    <!--Imporatações-->
    <script src="./javascript/script.js" defer></script>
    <link rel="stylesheet" href="../css/styleCadastrar.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">

</head>
<body>
    <section>
        <div class="content-section section-cadastro">
            <div class="tela-geral">
                <div class="info-lateral">
                    <img class="logo" src="../img/logo-vm-branco.png" alt="Logo do Vitrine Motors">
                </div>
                
                <div class="cadastro-dados">
                    <p id="titulo-cadastro">Formulário Cadastro Cliente</p>
                    <form action="/Cliente/Cadastrar" method="post">
                        
                        <div class="inputs-gerais">
                            <label for="nomeCompleto">Nome completo</label>
                            <div class="grupo-input">
                                <div class="icone-input">
                                    <svg viewBox="0 0 24 24"><circle cx="12" cy="8" r="4"/><path d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/></svg>
                                </div>
                                <input type="text" id="nomeCompleto" name="NomeCompleto" placeholder="Seu nome completo" required />
                            </div>
                        </div>

                        <div class="inputs-gerais">
                            <label for="nomeCompleto">Nome completo</label>
                            <div class="grupo-input">
                                <div class="icone-input">
                                    <svg viewBox="0 0 24 24"><circle cx="12" cy="8" r="4"/><path d="M4 20c0-4 3.6-7 8-7s8 3 8 7"/></svg>
                                </div>
                                <input type="text" id="nomeCompleto" name="NomeCompleto" placeholder="Seu nome completo" required />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
</html>