<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Motors</title>

    <!--Imporatações-->
    <script src="../javascript/script.js" defer></script>
    <link rel="stylesheet" href="../css/styleCarros.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">

</head>
<body>
    <section class="cor_fundo">
        <div class="content-section texto-banner">
            <p id="titulo-banner">Seu Próximo Carro Está Aqui</p>
            <p id="subtitulo-banner">
                Conecte-se direto com o dono. Sem intermediários, sem complicação.
            </p>
        </div>
    </section>

    <section class="section-pesquisa">
        <div class="content-section pesquisa">
            <div class="barra_de_pesquisa">
                <input type="text" name="" id="input-pesquisa" placeholder="Buscar por marca, modelo ou cidade...">
            </div>
            <button id="filtro_pesquisa"><i></i> Filtros</button>
        </div>
    </section>

    <section class="cor_fundo2">
        <div class="texto-mostruario content-section">
            <p class="titulo-mostruario">Carros Disponíveis</p>
            <p class="subtitulo-mostruario">X veículos encontrados</p>

        <!--Cards dos carros-->

        <!-- Card 1 -->
        <section class="catalogo">
            <div class="card-carro">
                <div class="card-img">
                    <span class="card-ano">2022</span>
                    <img src="https://placehold.co/400x250" alt="Foto do carro" />
                </div>
                <div class="card-info">
                    <h3>Mercedes-Benz Classe E 250</h3>
                    <p>Preto</p>
                    <p>🔄 25.000 km</p>
                    <p>📅 Automático • Gasolina</p>
                    <p>📍 São Paulo - SP</p>
                </div>
            </div>

        <!-- Card 2 -->
        <div class="card-carro">
            <div class="card-img">
                <span class="card-ano">2021</span>
                <img src="https://placehold.co/400x250" alt="Foto do carro" />
            </div>
            <div class="card-info">
                <h3>Porsche 911 Carrera</h3>
                <p>Vermelho</p>
                <p>🔄 18.000 km</p>
                <p>📅 Automático • Gasolina</p>
                <p>📍 Rio de Janeiro - RJ</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card-carro">
            <div class="card-img">
                <span class="card-ano">2023</span>
                <img src="https://placehold.co/400x250" alt="Foto do carro" />
            </div>
            <div class="card-info">
                <h3>BMW X5 M Sport</h3>
                <p>Branco</p>
                <p>🔄 12.000 km</p>
                <p>📅 Automático • Híbrido</p>
                <p>📍 Campinas - SP</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card-carro">
            <div class="card-img">
                <span class="card-ano">2023</span>
                <img src="https://placehold.co/400x250" alt="Foto do carro" />
            </div>
            <div class="card-info">
                <h3>BMW X5 M Sport</h3>
                <p>Branco</p>
                <p>🔄 12.000 km</p>
                <p>📅 Automático • Híbrido</p>
                <p>📍 Campinas - SP</p>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card-carro">
            <div class="card-img">
                <span class="card-ano">2023</span>
                <img src="https://placehold.co/400x250" alt="Foto do carro" />
            </div>
            <div class="card-info">
                <h3>BMW X5 M Sport</h3>
                <p>Branco</p>
                <p>🔄 12.000 km</p>
                <p>📅 Automático • Híbrido</p>
                <p>📍 Campinas - SP</p>
            </div>
        </div>
    </div>
    </section>
</section>

</body>
</html>