<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitrine Motors - Ajuda</title>

    <!--Imporatações-->
    <script src="../javascript/script.js" defer></script>
    <link rel="stylesheet" href="../css/styleAjuda.css">
    <link rel="stylesheet" href="../css/styleGlobal.css">

</head>
<body>
    <section class="cor_fundo">
        <div class="content-section texto-banner">
            <p id="titulo-banner">Central de Ajuda</p>
            <p id="subtitulo-banner">Como podemos te ajudar hoje?</p>
        </div>
    </section>

    <section>
        <div class="content-section contatos">
            <h3 class="alinhar-titulo">Fale conosco</h3>

            <div class="informacoes-contatos">

                <div class="contato-telefone">
                    <div class="icone-input">
                        <svg viewBox="0 0 24 24"><path d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07A19.5 19.5 0 013.07 10.8 19.79 19.79 0 01.22 2.18 2 2 0 012.18 0h3a2 2 0 012 1.72c.127.96.361 1.903.7 2.81a2 2 0 01-.45 2.11L6.91 7.91a16 16 0 006.13 6.13l1.27-1.27a2 2 0 012.11-.45c.907.339 1.85.573 2.81.7A2 2 0 0122 16.92z"/></svg>
                    </div>
                    <div class="informacoes-telefone">
                        <p style="font-weight: bold;">Telefone</p>
                        <p>(11) 4002-8922</p>
                        <p>Seg a Sex, das 9h às 18h</p>
                    </div>
                </div>

                <div class="contato-email">
                    <div class="icone-input">
                        <svg class="icone-input" viewBox="0 0 24 24"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>
                    </div>
                    <div class="informacoes-email">
                        <p style="font-weight: bold;">E-mail</p>
                        <p>contato@vitoremotors.com.br</p>
                        <p>Seg a Sex, das 9h às 18h</p>
                    </div>
                </div>

                <div class="contato-email">
                    <div class="icone-input">
                        <svg class="icone-input" viewBox="0 0 24 24"><path d="M12 22s-8-4.5-8-11.8A8 8 0 0112 2a8 8 0 018 8.2c0 7.3-8 11.8-8 11.8z"/><circle cx="12" cy="10" r="3"/></svg>
                    </div>
                    <div class="informacoes-email">
                        <p style="font-weight: bold;">Localização</p>
                        <p>Rua Santos Domingos, 219</p>
                        <p>Franco da Rocha, 02154-023</p>
                    </div>
                </div>
            </div>

            <h3 class="alinhar-titulo">Duvidas frequentes(FAQ)</h3>
            <div class="enviar-email">
                <details class="caixa">
                    <summary>1. Como posso alterar minha senha ou meus dados cadastrais?</summary>
                    <p class="conteudo">
                    Para atualizar suas informações ou garantir 
                    a segurança da sua conta trocando a senha, 
                    basta realizar o login na plataforma. Dentro 
                    do seu painel de usuário, você encontrará a 
                    seção Conta, onde é possível editar seus dados 
                    pessoais e definir uma nova senha de acesso a qualquer momento.
                    </p>
                </details>

                <details class="caixa">
                    <summary>2. O que preciso fazer para favoritar os veículos que mais gostei?</summary>
                    <p class="conteudo">
                    Para salvar seus carros favoritos, você precisa criar uma conta 
                    em nosso site. Com o cadastro feito e o login 
                    ativo, basta clicar no ícone de estrela em qualquer 
                    veículo da nossa vitrine. Assim, você poderá favoritar 
                    modelos e acessar suas escolhas sempre que quiser, de forma organizada.
                    </p>
                </details>

                <details class="caixa">
                    <summary>3. Esqueci minha senha de acesso. Como devo prosseguir?</summary>
                    <p class="conteudo">
                    Caso você tenha perdido o acesso à sua conta, não se preocupe. 
                    Para recuperar sua senha, pedimos que envie um e-mail para o 
                    nosso suporte técnico [contato@vitoremotors.com.br]. Nossa equipe fará 
                    uma breve análise para validar sua identidade e enviará as 
                    instruções necessárias para que você crie uma nova senha com total segurança.
                    </p>
                </details>

                <details class="caixa">
                    <summary>4. Como faço para agendar um Test Drive em um dos carros?</summary>
                    <p class="conteudo">
                    Sentir o carro na pista é um passo essencial! Você pode 
                    marcar seu test drive de duas maneiras: visitando nossa 
                    concessionária pessoalmente ou, para sua maior comodidade, 
                    entrando em contato direto via WhatsApp. Nossa equipe de 
                    consultores agendará o melhor horário para você conhecer 
                    de perto o desempenho e o conforto do veículo escolhido.
                    </p>
                </details>

                <details class="caixa">
                    <summary>5. É possível solicitar a exclusão definitiva da minha conta?</summary>
                    <p class="conteudo">
                    Sim, respeitamos sua privacidade e autonomia. Caso esteja 
                    logado, você encontrará a opção de encerramento de conta 
                    diretamente nas configurações do perfil. Se encontrar qualquer 
                    dificuldade ou não conseguir realizar o login, basta nos enviar 
                    um e-mail com a solicitação. Analisaremos o seu caso e processaremos 
                    a exclusão dos seus dados conforme as normas de segurança.
                    </p>
                </details>
            </div>
        </div>
    </section>
</body>
</html>